{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1 class="h-2 mb-3">{{ block('title') }}</h1>
    <div class="rounded bg-white w-100">
        <table class="table shadow-none">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Adresse email</th>
                <th scope="col" class="d-lg-table-cell d-none">Langue</th>
                <th scope="col" class="d-sm-table-cell d-none">Pays</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.lastname }}</th>
                <td>{{ user.email }}</td>
                <td class="d-lg-table-cell d-none">+{{ user.phoneNumber.countryCode }}{{ user.phoneNumber.nationalNumber }}</td>
                <td class="d-sm-table-cell d-none">{{ user.language | language_name('fr') | capitalize }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center flex-wrap px-3">
            <p class="m-0 text-black-50 fs-6">{{ totalUsers }} utilisateurs</p>
            {{ knp_pagination_render(users) }}
        </div>
    </div>

{% endblock %}
