{% extends 'admin/base.html.twig' %}

{% block title %}Liste des SMS{% endblock %}

{% block body %}
    <h1 class="h-2 mb-3">{{ block('title') }}</h1>
    <div class="rounded bg-white w-100">
        <table class="table shadow-none">
            <thead>
            <tr>
                <th scope="col" class="text-black-50" colspan="4">Message</th>
                <th scope="col" class="text-black-50 text-center" colspan="4">Status</th>
                <th scope="col" class="text-black-50 text-end" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for sms in allSms %}
                <tr>
                    <th scope="row" colspan="4">{{ sms.content | u.truncate(20, '...') }}</th>
                    {% if sms.status == 'SENT' %}
                    <td class="text-uppercase text-center text-sm" colspan="4">
                        <span class="badge rounded-pill bg-success">
                            Envoyé
                        </span>
                    </td>
                    {% elseif sms.status == 'PROCESSING' %}
                    <td class="text-uppercase text-center text-sm" colspan="4">
                        <span class="badge rounded-pill bg-info">
                            En cours
                        </span>
                    </td>
                    {% elseif sms.status == 'CANCELLED' %}
                    <td class="text-uppercase text-center text-sm" colspan="4">
                        <span class="badge rounded-pill bg-danger">
                            Annulé
                        </span>
                    </td>
                    {% else %}
                    <td class="text-uppercase text-center text-sm" colspan="4">
                        <span class="badge rounded-pill bg-warning">
                            En attente
                        </span>
                    </td>
                    {% endif %}

                    {% if sms.status == 'SENT' or sms.status == 'CANCELLED' %}
                    <td class="text-end" colspan="2">
                        <a href="{{ path('admin_sms_show', {'id': sms.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>
                        </a>
                    </td>
                    {% else %}
                    <td class="text-end" colspan="2">
                        <a href="{{ path('admin_sms_edit', {'id': sms.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/></svg>
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center flex-wrap px-3">
            <p class="m-0 text-black-50 fs-6">{{ totalSms }} sms</p>
            {{ knp_pagination_render(allSms) }}
        </div>
    </div>

{% endblock %}
