{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="row mw-100 min-vh-100">
    <div class="col-md-6 d-md-block d-none bg-light auth__backdrop gx-0"></div>
    <div class="col-md-6 d-grid align-items-center">
        <div class="bg-light container my-4">
            <h5 class="fw-bold">Se connecter à l’administration</h5>
            {% if hasError %}
                <div class="alert alert-danger">
                    L'adresse email ou le mot de passe est invalide
                </div>
            {% endif %}
            {% if loginError %}
                <div class="alert alert-danger">
                    {{ loginError }}
                </div>
            {% endif %}
            <form action="{{ path('app_login') }}" method="POST" class="d-grid gap-3 bg-white rounded p-3 mt-4">
                <div class="form-group d-grid gap-3">
                    <label for="email">Adresse email</label>
                    <input type="text" name="_username" id="email" class="form-control"
                           placeholder="Adresse email" required value="{{ username }}">
                </div>
                <div class="form-group d-grid gap-3">
                    <label for="password">Mot de passe</label>
                    <div class="d-flex justify-content-between form-control">
                        <input type="password" name="_password" id="password" class="form-control-plaintext p-0" placeholder="Votre mot de passe" required>
                        <svg id="password-toggler" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye text-black-50 " role="button"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                </div>
                <span class="text-center">OU</span>
                <a role="button" href="{{ path('app_register') }}" class="btn btn-secondary w-100">Créer un compte</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}